.App {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

.VocabCard {
  min-width: min-content;
  max-width: 500px;
  word-wrap: break-word;
  border-color: black;
  border-style: solid;
  padding: 10px;
  border-width: 2px;
  text-align: left;
}
.VocabCard p {
  margin: 0px;
}

.ListOfDefinitions ul {
  margin: 0px;
}

.flexbox-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flexbox-column h3,
.flexbox-column p{
  margin: 0px;
}

.flexbox-row {
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.flexbox-row h3{
  margin: 0px;
}

.flexbox-centered-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-bar{
  background-color: lightgray;
  display: flex;
  justify-content: start;
}

.nav-link{
  color: white;
  text-decoration: none;
  background-color: dimgray;
  padding: 20px;
  margin-left: 20px;
}

.SearchBar{
  align-self: flex-start;
  margin: 20px;
}

table {
  width: 100%;
}

th {
  border: 1px solid black;
  background-color: #dddddd;
  text-align: left;
  padding: 8px;
}

td {
  background-color: whitesmoke;
  border: 1px solid black;
}

.table-data-dakuon{
  background-color: lightgray;
}
.table-data-handakuon{
  background-color: rgb(182, 181, 181);
}